div {
  width: 100px;
  height: 100px;
  float: left;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-right: 15px;
}

button {
  top: 105px;
  background-color: #66BBAA;
  height: 30px;
  width: 90px;
  font-weight: 400;
  font-size: 0.85em;
  border-color: #cacac9;
  color: #FFFFFF;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20.4px;
}
